<template>
    <div class="modal fade" id="adminUsers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar/Quitar Trabajador</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center mb-3" v-for="user in users">
                        <div class="col-lg-8">
                            {{ user.nombre }}
                        </div>

                        <div v-if="user.pivot.estado === 'asignado'" class="col-lg-2">
                            <a  @click="adminUser(user)" class="btn btn-outline-success rounded-circle rounded mx-auto float-right" style="width: 40px;">
                                <a  class="text-success" ><i class="fa fa-check"></i></a>
                            </a>
                        </div>
                        <div v-if="user.pivot.estado === 'cerrado'" class="col-lg-2">
                            <a  @click="adminUser(user)" class="btn btn-outline-danger rounded-circle rounded mx-auto float-right" style="width: 40px;">
                                <a  class="text-danger" ><i class="fa fa-times"></i></a>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import EventBus from '../../event-bus'
    export default {
        name: "AdministrarUsersModal",
        data(){
            return{
                espOtId: null,
                users: [],
            }
        },
        created(){
            this.getUsers();
        },
        methods:{
            getUsers(){
                EventBus.$on('addUser', data =>{
                    this.espOtId = data.espOtId;
                    this.users   = data.users;
                })
            },
            adminUser(user){
                var url = 'updateUserEsp';
                console.log(user)
                console.log(this.users)

                axios.post(url, {
                    id: user.id,
                    estado: user.pivot.estado,
                    esp_id: this.espOtId
                }).then(response => {
                    this.getUsers()
                    //this.getUsers();
                    //$('#adminUsers').modal('hide');
                    console.log(this.users)
                }).catch(error => {
                    alert("error: " + error);
                })
            }

        },
        updated() {
            this.getUsers();
        }
    }
</script>

<style scoped>

</style>
