<template>
    <div class="modal fade" id="AgregarEsp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Especialidad a Ot</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div v-for="esp in esps">
                        <div class="row">
                        <label  class="col-5">{{esp.descripcion}}</label>
                        <button  @click="agregar_esp(esp.id)" type="button" class="btn btn-success col-5 mb-2">Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import EventBus from '../../event-bus'
    export default {
        name: "Modalsdgsd",
        data(){
            return{
                esps: [],
                espe:null,
                ot_id:null,
            }
        },
        created(){
            this.getData();
        },
        methods:{
            getData(){
                EventBus.$on('esp1', data => {
                    this.esps = data;
                    console.log("data")
                    console.log(this.esps)
                })
                EventBus.$on('otId',data=>{
                    this.ot_id=data;
                    console.log("data")
                    console.log(this.ot_id)
                })
            },
            agregar_esp(especialidad){
                var url="insertar_esp_a_ot";
                axios.post(url,{
                es:especialidad,
                ot_id:this.ot_id,
                }).then(response =>{
                    console.log('exitoo');
                    $('#AgregarEsp').modal('hide');

                }).catch(error =>{
                    console.log('error' + error);
                    alert("error: "+ error);
                });

            },
        }
    }
</script>

<style scoped>

</style>
