<template>
    <div class="modal fade" id="EditarOt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Ot</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="codigo">Codigo Ot</label>
                        <input class="form-control" v-model="codigo" id="codigo">
                        <label for="nombre">Nombre Ot</label>
                        <input class="form-control" v-model="descripcion" id="nombre">
                    </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" @click="actualizar_ot">Actualizar Ot</button>


                </div>
                </div>
            </div>
        </div>
</template>

<script>
    import EventBus from '../../event-bus'
    export default {
        name: "Modal",
        data(){
            return{
                codigo: null,
                descripcion: null,
                id: null,
            }
        },
        created(){

            this.getData()
        },
        methods:{
            getData(){
                EventBus.$on('ot', data => {
                    this.codigo = data.codigo;
                    this.descripcion = data.descripcion;
                    this.id = data.id;

                })
            },
            actualizar_ot(){

                var url='actualizar_ot';
                axios.post(url,{
                  codigo: this.codigo,
                  descripcion:this.descripcion,
                    id:this.id,
                }).then(response =>{
                    console.log('exitoo');
                    $('#EditarOt').modal('hide');
                    this.codigo='';
                    this.descripcion='';
                    this.id='';
                }).catch(error =>{
                    console.log('error' + error);
                });
            }
        }
    }
</script>

<style scoped>

</style>
