<template>
    <div class="modal fade" id="espCerradas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Especialidades cerradas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Especialidad</th>
                                    <th>Estado: Cerrado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="espot in datosEspOt" v-if="espot.ot_id === id && espot.estado === 'cerrado'">
                                    <td>{{ espot.especialidad.descripcion }}</td>
                                    <td>
                                        <a class="btn btn-outline-success rounded-circle rounded mx-auto d-block" style="width: 40px;" @click="cerrar(espot.id)">
                                            <a  class="text-success"><i class="fa fa-check"></i></a>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
    import EventBus from '../../event-bus'
    export default {
        name: "Modal",
        data(){
            return{
                datosEspOt: [],
                id: null,
            }
        },
        created(){

            this.getData()
        },
        methods:{
            getData(){
                EventBus.$on('espOt', data => {
                    this.datosEspOt = data;
                    console.log(data)
                })
                EventBus.$on('espid', data => {
                    this.id = data;
                    console.log(data)
                })
            },
            cerrar(id){
                var urlEliminar = 'eliminar_esp';

                axios.post(urlEliminar, {
                    id: id,
                }).then(response => {
                    this.getData();
                    $('#espCerradas').modal('hide')
                }).catch(error => {
                    alert("No se puede eliminar la especialidad por que contiene horas cargadas");
                })
            },
        }
    }
</script>

<style scoped>

</style>
