<template>
    <div class="modal fade" id="visualizarOt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Horas cargadas segun personal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div v-for="p in users" >
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-block text-left" type="button" data-toggle="collapse" :data-target="'#collapsePersonal'+p.id+p.pivot.especialidad_ot_id" aria-expanded="true" aria-controls="collapseOne">
                                            {{p.nombre}}
                                        </button>
                                    </h2>
                                </div>

                                <div :id="'collapsePersonal'+p.id+p.pivot.especialidad_ot_id" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Horas trabajadas</th>
                                                    <th>Semana cargada</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="d in datos" v-if="d.user_id === p.id">
                                                    <td>{{ d.horas_trabajadas }}</td>
                                                    <td>{{ d.fecha_horas }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div >

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    import EventBus from '../../event-bus'
    export default {
        name: "Modal",
        data(){
            return{
                datos: [],
                personal: [],
                users: [],
            }
        },
        created(){
            EventBus.$on('Ot', data => {
                this.datos = data.carga;
                this.users = data.user;
            })

        },
        methods:{
            ordenar(){
                var data = this.datos;
                var nombre = '';
                var listado = [];
                data.map(function (data) {
                    if (nombre !== data.user.nombre) {
                        listado.push(data);
                        nombre = data.user.nombre;
                    }
                })
                this.personal = listado;
            }
        },
        mounted() {
            this.ordenar();
            console.log(this.personal)
        }
    }
</script>

<style scoped>

</style>
