<template>
    <div class="modal fade" id="modificarHoras" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modificar Horas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="horas">Horas</label>
                        <input class="form-control" id="horas" v-model="datosHoras">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" @click="actualizarHoras">Actualizar horas</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import EventBus from '../../event-bus'
    export default {
        name: "Modal",
        data(){
            return{
                datosHoras: [],
                id: null,
            }
        },
        created(){
            EventBus.$on('Horas', data => {
                this.datosHoras = data.horas_presupuestadas;
                this.id = data.id;
                console.log(data)
            })

        },
        methods:{
            actualizarHoras(){
                var url = 'update_horas';
                axios.post(url, {
                    horas: this.datosHoras,
                    id: this.id
                }).then(response => {
                    this.datosHoras = '';
                    $('#modificarHoras').modal('hide');
                }).catch(error => {
                    alert('error, no se pueden guardar los cambios')
                    console.log(error.response)
                });
            }
        }
    }
</script>

<style scoped>

</style>
