<template>
    <form-wizard title="Crear orden de trabajo" subtitle="" color="#F1453C" @on-complete="Finalizar" next-button-text="Siguiente" back-button-text="Atras" finish-button-text="Guardar OT">

        <tab-content title="Descripción" icon="fa fa-eye" :before-change="id" >
            <div class="form-group">
                <label for="Codigo">Código de la OT</label>
                <input type="text" class="form-control" id="Codigo" v-model="codigo" placeholder="Ingrese el número de la ot">
            </div>
            <div class="form-group">
                <label for="Nombre">Nombre de la OT</label>
                <input type="text" class="form-control" id="Nombre" v-model="descripcion" placeholder="Ingrese el nombre de la ot">
            </div>
            <div class="form-group mb-5">
                <label for="Fecha">Fecha de partida</label>
                <input type="date" class="form-control" id="Fecha" v-model="fecha">
            </div>
            <div class="form-group col-xl-6">
                <label for="JP">Jefe de proyecto</label>
                <select class="form-control" id="JP" v-model="JP">
                    <option v-for="u in users" >{{ u.nombre }}</option>
                </select>
            </div>
        </tab-content>

        <tab-content title="Especialidades" icon="fa fa-tasks" >
            <div class="row justify-content-center">
                <div class="form-group col-xl-6">
                    <label for="exampleFormControlSelect1">Especialidades</label>
                    <select class="form-control" id="exampleFormControlSelect1" v-model="select">
                        <option v-for="esp in especialidades" >{{ esp.descripcion }}</option>
                    </select>
                </div>
                <div class="form-group col-xl-3">
                    <label for="HP">Horas Presupuestadas</label>
                    <input type="number" class="form-control" id="HP" v-model="HP">
                </div>
                <div class="form-group col-xl-3 mb-5 mt-4">
                    <button type="button" class="btn btn-primary align-content-center" @click="addEspecialidades">
                        Agregar
                    </button>
                </div>

                <div class="card mb-5" v-if="esp.length !== 0">
                    <div class="col-xl-12">
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Especialidad</th>
                                        <th scope="col">Horas presupuestadas</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody v-for="especialidad in esp">
                                    <tr v-for="e in especialidad">
                                        <td>{{ e.descripcion }}</td>
                                        <td>{{ e.hp }}</td>
                                        <td>
                                            <a class="btn btn-danger" @click="eliminarEsp(especialidad)">
                                                Eliminar
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </tab-content>

        <tab-content title="Personal" icon="fa fa-question" >
            <div class="accordion mb-5" id="accordionExample" >
                <div class="card" v-for="espe in esp">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0" v-for="es in espe">
                            <button class="btn btn-link" type="button" :data-toggle="'collapse'" :data-target="'#collapse'+es.id" aria-expanded="true" aria-controls="collapse">
                                {{ es.descripcion }}
                            </button>
                        </h2>
                    </div>

                    <div v-for="espec in espe" :id="'collapse'+espec.id" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body" >
                            <div class="row justify-content-center">
                                <div class="col-xl-8" v-for="u in usuarios" >
                                    <div class="custom-control custom-checkbox" v-for="user in u" v-if="user.esp_id === espec.id">
                                        <input class="custom-control-input" type="checkbox" :id="'check'+espec.id+user.id" :value="user.id" @click="addUser(espec,user)">
                                        <label class="custom-control-label" :for="'check'+espec.id+user.id">{{ user.nombre }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab-content>

    </form-wizard>
</template>

<script>
    import EventBus from '../../event-bus'
    import Descripcion from './DescripcionComponent'
    import Especialidad from './EspecialidadComponent'
    import Personal from './PersonalComponent'
    import toastr from '../../toastr'
    export default {
        name: "crear_otComponent",
        components:{
            Descripcion,
            Especialidad,
            Personal
        },
        created(){
            this.getEspecialidades();
            var urlU = 'all_users';

            axios.get(urlU).then(response => {
                this.users = response.data.users
            });
            console.log('listo')
        },
        data(){
            return{
                descripcion: null,
                codigo: null,
                fecha: null,
                especialidades: null,
                esp: [],
                select: null,
                usuarios: [],
                HP: null,
                userSelected: [],
                arrEsp: [],
                b: '',
                JP: null,
                users: [],
                idJefeP: null,
                usuariosSeleccionados: [],

            }
        },
        methods: {
            getUsers: function(){
                var urlU = '/all_users';

                axios.get(urlU).then(response => {
                    this.users = response.data
                });
                console.log('listo')
            },
            getEspecialidades: function(){
                var url = 'especialidades';

                axios.get(url).then(response => {
                    this.especialidades = response.data.especialidades
                });
                console.log(this.esp)

            },
            id: function(){
                var idJefeP = null;
                var nombre = this.JP

                this.users.map(function (data) {
                    if (data.nombre === nombre){
                        idJefeP = data.id
                    }
                })

                this.idJefeP = idJefeP;

                return true;
            },
            eliminarEsp: function(esp){

                var index = this.esp.indexOf(esp);
                this.esp.splice(index, 1)

                console.log(this.esp)
            },
            addEspecialidades: function(){
                var especialidad = [];
                var user = [];
                var nombre = this.select
                var hp = this.HP
                this.especialidades.map(function (data) {
                    if (data.descripcion === nombre){
                        console.log(data)
                        especialidad.push({
                            id: data.id,
                            descripcion: data.descripcion,
                            hp: hp,

                        })
                        data.user.map(function (u) {
                            user.push({
                                id: u.id,
                                nombre: u.nombre,
                                esp_id: data.id
                            })
                        })

                    }
                });

                this.HP = '';

                this.esp.push(especialidad);
                this.usuarios.push(user);
                console.log(this.esp)
                console.log(this.usuarios)
            },
            addUser: function(espec,user){

                console.log(user.id)
                var isChecked = document.getElementById('check'+espec.id+user.id).checked;
                console.log(isChecked)
                if(isChecked === true){
                    this.add(user)
                }else if (isChecked === false) {
                    this.delete(user)
                }
                user = null;
            },
            add: function(user){
                this.userSelected.push({
                    id: user.id,
                    esp_id: user.esp_id,
                    nombre: user.nombre,
                });
            },
            delete: function(user){
                var index = this.userSelected.indexOf(user.id)
                this.userSelected.splice(index, 1)
            },
            Finalizar: function () {

                console.log(this.idJefeP)

                var url = 'ot';
                var espe=[{
                    id: 1,
                    hp: 200,
                }];

                this.esp.map(function (data) {
                    espe.push({
                        id: data.id,
                        hp: data.hp,
                    });
                })
                this.arrEsp = espe;

                console.log(this.esp)
                axios.post(url, {
                    descripcion: this.descripcion,
                    codigo: this.codigo,
                    fecha_partida: this.fecha,
                    jefe_proyecto: this.idJefeP,
                    esp: this.esp,
                    user: this.userSelected,
                }).then(response => {
                    alert('Ot creada exitosamente')
                    location.reload()
                }).catch(error => {
                    alert('No se pudo crear la Ot')
                });
            }
        }
    }
</script>

<style scoped>

</style>
