<template>
    <div>
    <tab-content title="Descripción" icon="fa fa-eye" :before-change="next">
        <input type="text" class="form-control" v-model="prueba">
    </tab-content>
    <tab-content title="Grupos de tareas u observaciones" icon="fa fa-tasks">
        fbfdvd
    </tab-content>
    <tab-content title="Preguntas" icon="fa fa-question">

    </tab-content>
    </div>

</template>

<script>
    import EventBus from '../../event-bus'
    export default {
        name: "DescripcionComponent",
        data(){
            return{
                prueba: null,
            }
        },
        methods: {
            next: function () {
                console.log("pasando al siguiente nivel")
                //console.log(this.prueba)
                EventBus.$emit('prueba', this.prueba);
                return true;
            }
        },
    }
</script>

<style scoped>

</style>
