<template>
    <tab-content title="Grupos de tareas u observaciones" icon="fa fa-tasks">
fbfdvd
    </tab-content>
</template>

<script>
    export default {
        name: "EspecialidadComponent"
    }
</script>

<style scoped>

</style>
