<template>
    <tab-content title="Preguntas" icon="fa fa-question">

    </tab-content>
</template>

<script>
    export default {
        name: "PersonalComponent"
    }
</script>

<style scoped>

</style>
