<template>
    <div class="container" id="app">
        <div class="row justify-content-center">
            <div class="col-lg-11 col-md-11 col-sm-12 col-12">
                <div class="card-group">
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        <div class="text-center">
                            <h3>Cargar horas a orden de trabajo</h3>
                        </div>
                        <input type="text" v-model="search" placeholder="Buscar por codigo" class="form-control float-right mb-3" style="width:200px;">
                        <div class="accordion" id="accordionHoras">
                            <div class="card">
                                <div v-for="ot in filtrar" v-if="ot.estado === 'abierto'">
                                    <div class="card-header" id="headingOne">
                                            <h2 class="mb-0 ">
                                                <button class="btn btn-toolbar text-uppercase btn-block" type="button" data-toggle="collapse" :data-target="'#collapse'+ot.codigo" aria-expanded="true" aria-controls="collapseOne">
                                                    {{ot.codigo}} - {{ ot.descripcion }}
                                                </button>
                                            </h2>
                                    </div>
                                    <div :id="'collapse'+ot.codigo"  class="collapse" aria-labelledby="headingOne" data-parent="#accordionHoras">
                                        <div class="card-body ">
                                            <div class="row justify-content-center">
                                                <div class="col-xl-8 ">
                                                    <table class="table table-striped table-responsive-sm" style="width:100%">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col" class="text-uppercase">Especialidad</th>
                                                            <th scope="col" class="text-uppercase">Horas presupuestadas</th>
                                                            <th scope="col" class="text-uppercase">Accion</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody v-for="o in ots" v-if="o.ot_id === ot.id && o.estado === 'abierto'">
                                                            <tr v-for="user in o.user" v-if="user">
                                                                <td >{{o.especialidad.descripcion}}</td>
                                                                <td>{{o.horas_presupuestadas}}</td>
                                                                <td>
                                                                    <button
                                                                        type="button"
                                                                        class="btn btn-success btn-block"
                                                                        data-toggle="modal"
                                                                        @click="getId(o)"
                                                                        data-target="#modal_horas"
                                                                        >
                                                                        Agregar Horas
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>
                     </div>
                </div>
             </div>
        <modal-carga></modal-carga>
    </div>
    </div>

</template>

<script>
    import EventBus from '../event-bus';
    import modalCarga from './ModalCargaComponent';
    export default {
        name: "Listar_OTComponent",
        components: {
            modalCarga
        },
        data(){
            return{
                ots: [],
                otButton: [],
                espot: [],
                esp: [],
                search: '',
            }
        },
        created() {
            var url = 'listar_ot_datos';

            axios.get(url).then(response =>{
                this.ots = response.data.ots
                this.otButton = response.data.OtButton
                this.espot = response.data.espot

                this.listar()
            });

        },
        methods: {
            getId: function (id) {
                EventBus.$emit('idEspOt', id);
            },
            listar: function () {
                var aux = [];
                this.espot.map(function (data) {
                    aux.push({
                        id: data[0].id,
                        descripcion: data[0].descripcion,
                        created_at: data[0].created_at,
                        updated_at: data[0].updated_at,
                        ot_id: data[1]
                    })
                })

                this.esp = aux;
            }
        },
        computed:{
            filtrar:function(){
                return this.otButton.filter((ot)=>{
                    return ot.codigo.match(this.search)
                });
            }
        }
    }
</script>

<style scoped>

</style>
