<template>
    <div class="modal fade" id="modal_horas" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase" id="exampleModalLongTitle">{{codigo}}-{{ titulo }}-{{esp}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="horas">Horas a cargar</label>
                        <input type="number" min="0" name="" id="horas" class="form-control" v-model="horas">

                    </div>


                    <div class="form-group">
                            <label for="fecha" >Desde</label>
                            <input type="week" class="form-control " id="fecha" v-model="fecha_ingreso">
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancelar</button>
                        <button type="submit" class="btn btn-success" @click="cargarHoras">Guardar Horas</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import EventBus from '../event-bus';
    export default {
        name: "ModalCargaComponent",
        data(){
            return{
                id: null,
                titulo: null,
                codigo: null,
                esp: null,
                horas: null,
                fecha_ingreso: null,
            }
        },
        created() {
            EventBus.$on('idEspOt', data => {
                this.id = data.id,
                this.titulo = data.ot.descripcion,
                this.codigo = data.ot.codigo,
                this.esp = data.especialidad.descripcion
            })
        },
        methods:{
            cargarHoras: function () {
                var url = 'cargar_horas';
                axios.post(url, {
                    'especialidad_ot_id': this.id,
                    'horas_trabajadas': this.horas,
                    'fecha_horas': this.fecha_ingreso.replace('-W', ' Semana-'),
                }).then(response => {
                    this.horas = '';
                    this.fecha_ingreso = '';
                    this.fecha_end = '';
                    $('#modal_horas').modal('hide');
                    alert("horas guardadas")
                }).catch(error => {
                    alert('error')
                    console.log(error.response)
                });
            }
        }

    }
</script>

<style scoped>

</style>
