<template>
    <div class="container" id="app">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-11 col-sm-12 col-12">
                <div class="card-group">
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        <div class="text-center">
                            <h3>Revisar horas de ordenes de trabajo</h3>
                        </div>

                        <input type="text" v-model="search" placeholder="Buscar por codigo" class="form-control float-right mb-3" style="width:200px;">
                        <div class="accordion" id="accordionVisualizar">
                            <div class="card">
                                <div v-for="ot in filtrar">
                                    <div class="card-header" id="headingOne" >
                                        <h2 class="mb-0">
                                            <div class="row">
                                                <button class="btn btn-toolbar text-uppercase btn-block col-lg-8" type="button" data-toggle="collapse" :data-target="'#collapse' + ot.id" aria-expanded="true" aria-controls="collapseOne">
                                                    {{ot.codigo}}  -  {{ ot.descripcion }}
                                                </button>
                                                <div class="col-lg-1">
                                                    <a data-toggle="modal" data-target="#EditarOt" @click="editarOt(ot)" class="btn btn-outline-info rounded-circle rounded mx-auto" style="width: 40px;">
                                                        <a  class="text-info" ><i class="fa fa-list"></i></a>
                                                    </a>
                                                </div>
                                                <div class="col-lg-1">
                                                    <a data-toggle="modal" data-target="#AgregarEsp" @click="agregarEsp(ot.id)" class="btn btn-outline-warning rounded-circle rounded mx-auto" style="width: 40px;">
                                                        <a  class="text-warning" ><i class="fa fa-plus"></i></a>
                                                    </a>
                                                </div>
                                                <div class="col-lg-1">
                                                    <a :href="'/export-users/' + ot.id" class="btn btn-outline-primary rounded-circle rounded mx-auto" style="width: 40px;">
                                                        <a  class="text-primary" ><i class="fa fa-download"></i></a>
                                                    </a>
                                                </div>
                                                <div v-if="ot.estado === 'abierto'" class="col-lg-1">
                                                    <a :href="'/modificar_estado_ot/' + ot.id" class="btn btn-outline-success rounded-circle rounded mx-auto" style="width: 40px;">
                                                        <a  class="text-success" ><i class="fa fa-check"></i></a>
                                                    </a>
                                                </div>

                                                <div v-if="ot.estado === 'cerrado'" class="col-lg-1">
                                                    <a :href="'/modificar_estado_ot/' + ot.id" class="btn btn-outline-danger rounded-circle rounded mx-auto d-block" style="width: 40px;">
                                                        <a  class="text-danger"><i class="fa fa-times"></i></a>
                                                    </a>
                                                </div>
                                            </div>

                                        </h2>

                                    </div>

                                    <div :id="'collapse' + ot.id" class="collapse " aria-labelledby="headingOne" data-parent="#accordionVisualizar">
                                        <div class="card-body">
                                            <table id="example1" class="table table-striped table-bordered table-responsive-sm" style="width:100%">
                                                <thead>
                                                <tr class="text-center">
                                                    <th>Especialidad</th>
                                                    <th>Horas Presupuestadas</th>
                                                    <th>Horas Reales</th>
                                                    <th>% Utilizado</th>
                                                    <th>Modificar Horas</th>
                                                    <th>Carga</th>
                                                    <th>Trabajadores</th>
                                                    <th>Eliminar</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="listadoOt in ots" v-if="listadoOt.ot_id === ot.id && listadoOt.estado === 'abierto'">

                                                    <td >{{ listadoOt.especialidad.descripcion }}</td>
                                                    <td >{{ listadoOt.horas_presupuestadas }}</td>
                                                    <td v-for="listado in listadoHoras" v-if="listado[1] === listadoOt.id">{{ listado[0] }}</td>
                                                    <td v-for="p in porcentaje" v-if="p[1] === listadoOt.id">{{ p[0] }}%</td>
                                                    <td>
                                                        <div class="col-lg-1 justify-content-center">
                                                            <a data-toggle="modal" data-target="#modificarHoras" @click="datosHoras(listadoOt)" class="btn btn-outline-info rounded-circle rounded mx-auto" style="width: 40px;">
                                                                <a  class="text-info" ><i class="fa fa-clock"></i></a>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-lg-1 ">
                                                            <a data-toggle="modal" data-target="#visualizarOt" @click="datos(listadoOt)" class="btn btn-outline-info rounded-circle rounded mx-auto" style="width: 40px;">
                                                                <a  class="text-info" ><i class="fa fa-clipboard-list"></i></a>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-lg-1">
                                                            <a data-toggle="modal" data-target="#adminUsers" @click="administrarUsers(listadoOt.especialidad.id, listadoOt.id)" class="btn btn-outline-info rounded-circle rounded mx-auto" style="width: 40px;">
                                                                <a  class="text-info" ><i class="fa fa-users"></i></a>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <a class="btn btn-outline-danger rounded-circle rounded mx-auto d-block" style="width: 40px;" @click="cerrar(listadoOt.id)">
                                                                <a  class="text-danger"><i class="fa fa-times"></i></a>
                                                            </a>
                                                        </div>
                                                    </td>

                                                </tr>

                                                </tbody>

                                            </table>
                                            <button class="btn btn-secondary mt-3 mb-3 float-right"data-toggle="modal" data-target="#espCerradas" @click="espOt(ot.id)">
                                                Especialidades cerradas
                                            </button>

                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <modal></modal>
        <modal-horas></modal-horas>
        <esp-ot></esp-ot>
        <editar-ot></editar-ot>
        <agregar-esp></agregar-esp>
        <admin-users></admin-users>
    </div>

</template>

<script>
    import Modal from './Modales/Modal';
    import ModalHoras from './Modales/ModalHoras';
    import espOt from './Modales/espOt';
    import EditarOt from './Modales/EditarOtmodal';
    import AgregarEsp from './Modales/AgregarEspModal';
    import AdminUsers from './Modales/AdministrarUsersModal';
    import EventBus from '../event-bus'
    export default {
        name: "visualizar",
        data(){
          return{
              otButton: [],
              ots: [],
              listadoHoras: [],
              porcentaje: [],
              users: [],
              search: '',
          }
        },
        components:{
            Modal,
            ModalHoras,
            espOt,
            EditarOt,
            AgregarEsp,
            AdminUsers,
        },
        created(){
            this.getOt();

        },
        methods:{
            getOt(){
                var url = 'visualizar_ot_data';
                axios.get(url).then(response => {
                    this.otButton       = response.data.OtButton;
                    this.ots            = response.data.ots;
                    this.listadoHoras   = response.data.listaHoras;
                    this.porcentaje     = response.data.porcentaje;
                    this.users     = response.data.users;
                })
            },
            datos(ot){
                var id = [];
                var user = [];
                var users = JSON.stringify(ot);


                console.log(user)
                EventBus.$emit('Ot', ot);
            },
            datosHoras(otHoras){
                EventBus.$emit('Horas', otHoras);
            },
            cerrar(id){
                var urlEliminar = 'eliminar_esp';

                axios.post(urlEliminar, {
                    id: id,
                }).then(response => {
                    this.getOt();
                }).catch(error => {
                    alert("No se puede eliminar la especialidad por que contiene horas cargadas");
                })
            },
            espOt(id){
                EventBus.$emit('espOt', this.ots)
                EventBus.$emit('espid', id)
            },
            editarOt(ot){
                EventBus.$emit('ot', ot)
            },
            agregarEsp(id){

                var url='agregar_esp';
                axios.post(url,{
                    id: id
                }).then(response =>{
                    console.log('exito');
                    EventBus.$emit('esp1',response.data.especialidades)
                    EventBus.$emit('espOt1',response.data.especialidades_de_ot)
                    EventBus.$emit('otId',response.data.ot_id)
                    console.log(response);
                }).catch(error =>{
                    console.log('error' + error);
                });
                console.log(this.id)

            },
            administrarUsers(esp_id, espOtId){
                console.log("l");
                console.log('id: '+espOtId);
                var url='getUsers';
                axios.post(url,{
                    esp_id: esp_id,
                    espot_id: espOtId,
                }).then(response =>{
                    console.log('exito');
                    EventBus.$emit('addUser',{
                        espOtId: espOtId,
                        users: response.data.userEspOt,
                })
                    console.log(espOtId);
                }).catch(error =>{
                    console.log('error' + error);
                });
                console.log(this.id)
            }
        },
        updated() {
            this.getOt();
        },
        computed:{
            filtrar:function(){
                return this.otButton.filter((ot)=>{
                    return ot.codigo.match(this.search)
                });
            }
        }

    }
</script>

<style scoped>

</style>
